{% extends "base_admin.html" %}

{% block content %}
<div class="page-header">
  <div class="page-title">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px; stroke: currentColor;"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2M9 11a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM20 8v6M23 11h-6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    Add New Employee
  </div>
</div>

<div class="card">
  <form method="post" class="form-grid">
    {% csrf_token %}
    
    <p>
      <label for="first_name">First Name *</label>
      <input type="text" id="first_name" name="first_name" required placeholder="Enter first name">
    </p>
    
    <p>
      <label for="last_name">Last Name *</label>
      <input type="text" id="last_name" name="last_name" required placeholder="Enter last name">
    </p>
    
    <p>
      <label for="email">Email Address *</label>
      <input type="email" id="email" name="email" required placeholder="Enter email address">
    </p>
    
    <p>
      <label for="password">Password *</label>
      <input type="password" id="password" name="password" required placeholder="Enter password">
    </p>
    
    <p style="grid-column: 1 / -1; margin-top: 20px;">
      <button type="submit" class="btn primary">Add Employee</button>
      <a href="/ui/leads/" class="btn">Cancel</a>
    </p>
  </form>
</div>
{% endblock %}

